# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (PostgreSQL / MongoDB)
DATABASE_URL=
MONGO_URI=

# Seguridad
JWT_SECRET=

# APIs Externas
OPENAI_API_KEY=
GOOGLE_SHEETS_ID=

# Render Keep-Alive (Script Milagro)
# Configura esta URL en Render para evitar que el servidor se apague
RENDER_URL=https://proyecto-sanilab.onrender.com
